@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.wrapper{
  background-color: rgb(240, 239, 241);
  max-width: 450px;
  min-height: 500px;
  box-shadow: 5px 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.container{
  /* background-color: hotpink; */
  width: 360px;
  text-align: center;
}

.add-summary-container{
  background-color: rgb(225, 226, 225);
  width: 300px;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 5px 5px 5px rgb(211, 209, 209);
  padding-top: 0%;

}

 .inc-money{
  color: #b6960a;
  font-weight: bold;
}

 .dec-money{
  color: #2da3ad;
  font-weight: bold;
}
.transac-his-container{
  /* background-color: rgb(75, 159, 161); */
  padding-top: 30px;
}
.transac-his-container h3{
  text-align: center;
}

.transac-list {
  /* background-color: burlywood; */
  width: 360px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.transac-list > li{
  /* background-color: rgb(164, 165, 158); */
  display: flex;
  justify-content: space-between;
  margin: 7px 0px;
}

.transac-list li.plus {
  border-right: 5px solid #b6960a;
}

.transac-list li.plus:hover {
  border-right: 5px solid #b6960a;
  background-color: #b6960a;
  color: #f7f7f7
}

.transac-list li.minus {
  border-right: 5px solid #2da3ad;
}

.transac-list li.minus:hover {
  border-right: 5px solid #2da3ad;
  background-color: #2da3ad;
  color: #f7f7f7
}
.del-btn {
  cursor: pointer;
  border: transparent;
  color: rgb(201, 35, 35);
}

.add-transac-container{
  /* background-color: indianred; */
  width: 360px;
}
.add-transac-container h3{
text-align: center;
}
.add-transac-container label {
  display: inline-block;
  margin: 10px 0;
  font-weight: bold;
}
.add-transac-container input[type='text'],
                       input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 94%;
}

.btn-add-am {
  cursor: pointer;
  background-color: rgb(102, 155, 224);
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}