@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.wrapper{
  background-color: aqua;
  max-width: 420px;
  min-height: 500px;
  box-shadow: 5px 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.container{
  background-color: hotpink;
  width: 360px;
  text-align: center;
}

.add-summary-container{
  background-color: rgb(105, 255, 113);
  width: 280px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.transac-his-container{
  background-color: rgb(75, 159, 161);
}
.transac-list {
  background-color: burlywood;
  width: 360px;
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}
.transac-list > li{
  background-color: rgb(184, 212, 23);
  display: flex;
  justify-content: space-between;
}